<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>user5::목록</title>
</head>
<body>
<h3>User5 목록</h3>
<a th:href="@{/}">메인</a>
<a th:href="@{/user5/register}">등록</a>
<table border="1">
	<tr>
		<th>이름</th>
		<th>성별</th>
		<th>나이</th>
		<th>주소</th>
		<th>관리</th>
	</tr>
	<tr th:each="dto:${dtoList}">
		<td>[[${dto.name}]]</td>
		<td th:text="${dto.gender}">성별</td>
		<td th:text="${dto.age}">나이</td>
		<td th:text="${dto.addr}">주소</td>
		<td>
			<a th:href="@{/user5/modify(name=${dto.name})}">수정</a>
			<a th:href="@{/user5/remove(name=${dto.name})}">삭제</a>
		</td>
	</tr>
</table>
</body>
</html>